---
metadata:
  title: Title
  description: Description
  #banner:
  #  text: "New video: <strong>Jamming on the Jamstack with Matt Biilman & Mike Neumegen</strong>"
  #  url: https://www.youtube.com/watch?v=Hf8lsVtOkcE
  cta:
    text: Button
    url: /
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ metadata.description }}">
    <link rel="stylesheet" href="/demo-style.css">
  </head>
  <body>
    <header>
{% if metadata.banner %}
      <a href="{{ metadata.banner.url }}" class="demo-banner">{{ metadata.banner.text }}</a>
{% endif %}
      <div class="demo-hed">
        <a href="https://cloudcannon.com/" class="demo-hed-logo">{% include "marketing-components/logo.svg" %}</a>
  
        <nav class="demo-nav">
          <a href="{{ metadata.cta.url }}" class="demo-nav-btn">{{ metadata.cta.text }}</a>
        </nav>
      </div>

      <h1 class="demo-hed-title">{{ metadata.title }}</h1>
    </header>
    <main class="demo-main">
      {{ content }}
    </main>
    <footer class="demo-footer">
      <ul>
        <li>© 2023 Cloud Cannon Ltd.</li>
        <li><a href="https://cloudcannon.com/terms/">Terms</a></li>
        <li><a href="https://cloudcannon.com/privacy/">Privacy</a></li>
        <li><a href="https://cloudcannon.com/gdpr/">GDPR</a></li>
        <li><a href="https://cloudcannon.com/security/">Security</a></li>
      </ul>
    </footer>
  </body>
</html>