---
metadata:
  title: Title
  description: Description
  cta:
    text: Return to CloudCannon
    url: "https://cloudcannon.com/"
  banner:
    text:
      en: "<strong>Let’s talk about the future of Jamstack</strong>"
      es: "<strong>Hablemos del futuro de Jamstack</strong>"
    url: https://thefutureofjamstack.org/
  i18n:
    header:
      demos:
        en: Demos
        es: Demostraciones
      styleguide:
        en: Style Guide
        es: Guía de estilo
      mount:
        en: Site Mounting
        es: Montaje del sitio
      geo:
        en: Geolocation
        es: Geolocalización
      imageopt:
        en: Image Optimization
        es: Optimización de imagen
      microblog:
        en: Geolocation
        es: Geolocalización
    footer:
      terms:
        en: Terms
        es: Condiciones
      privacy:
        en: Privacy
        es: Privacidad
      security:
        en: Security
        es: Seguridad
  helmet: ""
---
<!doctype html>
<html lang="{{ page.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title | default: metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="theme-color" content="#034ad8">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="apple-touch-startup-image" href="/public/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="shortcut icon" href="/public/favicon.svg" type="image/svg+xml">
    <link rel="icon" type="image/png" sizes="128x128" href="/public/favicon-128x128.png">

    <link rel="stylesheet" href="/public/demo-style.css">
    {%- if metadata.helmet %}
    {{ metadata.helmet }}
    {%- endif %}
    <script type="module" src="/public/details-utils.js"></script>
  </head>
  <body>
    <header>
{% if metadata.banner %}
      <a href="{{ metadata.banner.url }}" class="demo-banner"><img alt="Favicon for {{ metadata.banner.url }}" loading="lazy" decoding="async" src="https://v1.indieweb-avatar.11ty.dev/{{ metadata.banner.url | url_encode }}/" width="40" height="40" class="demo-icon demo-icon-rounded">{{ metadata.banner.text | getI18nString }}</a>
{% endif %}
      <div class="demo-hed">
        <a href="https://cloudcannon.com/" class="demo-hed-logo">{% include "marketing-components/logo.svg" %}</a>

        <nav class="demo-nav">
{%- if metadata.cta.url and metadata.cta.text %}
          <a href="{{ metadata.cta.url }}" class="demo-btn demo-btn-primary">{{ metadata.cta.text }}</a>
{%- endif %}
          <details-utils close-click-outside close-esc animate>
            <details class="details-overlay">
              <summary class="demo-btn">{{ metadata.i18n.header.demos | getI18nString }}</summary>
              <ul class="demo-list">
                <li><a href="https://wandering-cow.cloudvent.net/">{{ metadata.i18n.header.styleguide | getI18nString }}</a></li>
                <li><a href="https://ardent-desert.cloudvent.net/">{{ metadata.i18n.header.mount | getI18nString }}</a></li>
                <li><a href="https://busy-jellyfish.cloudvent.net/">{{ metadata.i18n.header.geo | getI18nString }}</a></li>
                <li><a href="https://gnarly-ginger.cloudvent.net/">{{ metadata.i18n.header.imageopt | getI18nString }}</a></li>
                <li><a href="https://rare-pineapple.cloudvent.net/">{{ metadata.i18n.header.microblog | getI18nString }}</a></li>
              </ul>
            </details>
          </details-utils>
        </nav>
      </div>

      <h1 class="demo-hed-title">{{ metadata.titleHtml | default: metadata.title }}</h1>
    </header>
    <main class="demo-main">
      {{ content }}
    </main>
    <footer class="demo-footer">
      <ul class="demo-inline">
        <li>©{% currentYear %} CloudCannon</li>
        <li><a href="https://cloudcannon.com/terms/">{{ metadata.i18n.footer.terms | getI18nString }}</a></li>
        <li><a href="https://cloudcannon.com/privacy/">{{ metadata.i18n.footer.privacy | getI18nString }}</a></li>
        <li><a href="https://cloudcannon.com/gdpr/">GDPR</a></li>
        <li><a href="https://cloudcannon.com/security/">{{ metadata.i18n.footer.security | getI18nString }}</a></li>
        <li><img alt="Favicon for {{ metadata.banner.url }}" loading="lazy" decoding="async" src="https://v1.indieweb-avatar.11ty.dev/{{ "https://www.11ty.dev/" | url_encode }}/" width="40" height="40" class="demo-icon">{{ eleventy.generator }}</li>
      </ul>
    </footer>
  </body>
</html>