---
metadata:
  title: Title
  description: Description
  cta:
    text: Return to CloudCannon
    url: "https://cloudcannon.com/"
  banner:
    text: "New video: <strong>Jamming on the Jamstack with Matt Biilman & Mike Neumegen</strong>"
    url: https://www.youtube.com/watch?v=Hf8lsVtOkcE
  helmet: ""
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ metadata.description }}">
    <link rel="stylesheet" href="/demo-style.css">
    {%- if metadata.helmet %}
    {{ metadata.helmet }}
    {%- endif %}
  </head>
  <body>
    <header>
{% if metadata.banner %}
      <a href="{{ metadata.banner.url }}" class="demo-banner">{{ metadata.banner.text }}</a>
{% endif %}
      <div class="demo-hed">
        <a href="https://cloudcannon.com/" class="demo-hed-logo">{% include "marketing-components/logo.svg" %}</a>

        <nav class="demo-nav">
          <a href="{{ metadata.cta.url }}" class="demo-btn demo-btn-primary">{{ metadata.cta.text }}</a>

          <details class="details-overlay">
            <summary class="demo-btn">Demos</summary>
            <ul>
              <li><a href="https://wandering-cow.cloudvent.net/">Style Guide</a></li>
              <li><a href="https://ardent-desert.cloudvent.net/">Site Mounting</a></li>
              <li><a href="https://busy-jellyfish.cloudvent.net/">Geolocation</a></li>
              <li><a href="https://gnarly-ginger.cloudvent.net/">Image Optimization</a></li>
            </ul>
          </details>
        </nav>
      </div>

      <h1 class="demo-hed-title">{{ metadata.title }}</h1>
    </header>
    <main class="demo-main">
      {{ content }}
    </main>
    <footer class="demo-footer">
      <ul class="demo-inline">
        <li>©{% currentYear %} CloudCannon</li>
        <li><a href="https://cloudcannon.com/terms/">Terms</a></li>
        <li><a href="https://cloudcannon.com/privacy/">Privacy</a></li>
        <li><a href="https://cloudcannon.com/gdpr/">GDPR</a></li>
        <li><a href="https://cloudcannon.com/security/">Security</a></li>
      </ul>
    </footer>
  </body>
</html>